body{
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;



     .yellow{
            color: yellow;
    }

    .content{
        margin: 0 auto;
        width: 800px;
    }

    background-color: #383838;
    color: white;
    h1{
        margin: 30px;
        text-align: center;
        font-size: 30px;
    }
    .lesson{
        font-size: 22px;
    }

    .lesson_text{
        margin: 30px 0;
        font-size: 22px;
    }
    .lesson_1{
    .tap_one{
        margin: 30px 0;
        font-size: 18px;
        background-color: yellow;
        padding: 7px;
    }
    .tap_one:active{
        background-color: #c49439;
    }
    .vision{
        visibility: hidden;
        background-color: black;
        margin: 30px 0px 30px 100px;
        color: white;
        font-size: 18px;
    }
    .vision:active{
        background-color: #393000
    }

    .event{
        display: flex;

    }
    }

    .lesson_2{
        .textLes{
            background-color: #312f2f;
            color: white;
            font-size: 22px;

        }

    }
    .lesson_3{

        .block-For-Mouse{
            margin: 30px;
            height: 200px;
            width: 150px;
            background-color: darkolivegreen;
        }

    }
    .lesson_4{

        .block-For-Mouse-2{
            margin: 30px;
            height: 200px;
            width: 150px;
            background-color: darkolivegreen;
        }

    }
    .lesson_5{
        .block-For-Mouse-3{
            display: flex;
            flex-wrap: wrap;
            margin: 30px;
            height: 300px;
            width: 300px;
            background-color: darkolivegreen;
            div{
                line-height: 100px;
                text-align: center;
                display: block;
                width: 100px;
            }
        }
    }
}














































